.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: #3A405A;
  color: white;
  padding-top: 130px;
}

h1,h2 {
  text-align: center;
  letter-spacing: 2px;
  margin: 20px 0;
}

ol, ul, li {
  list-style: none;
}

a, a:hover, a:visited {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.goTo, .goTo:hover {
  background: linear-gradient(90deg, rgba(83,58,123,1) 0%, rgba(98,60,234,1) 100%);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  box-shadow: 0 2px 0 black;
}

.pages, .pages:hover {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 0 20px;
  background: linear-gradient(90deg, rgba(83,58,123,1) 0%, rgba(98,60,234,1) 100%);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  box-shadow: 0 2px 0 black;
  width: 130px;
}

.pages:disabled {
  opacity: 0.3;
}

.flexContainer {
  text-align: center;
}

.flickContainer {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  padding: 15px 0;
}

.flickFlexBox {
  display: inline-flex;
  margin: 50px 150px;
}

.flickDetails {
  margin: 0 100px;
}

img {
  box-shadow: 0 6px 12px 0 black;
}

.flickTitle {
  height: 50px;
}

.register, .login, .profile, .edit, .profile {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  clear: both;
}

form {
  text-align: center;
}

input, ::placeholder {
  font-size: 1em;
  color: white;
  background-color: #623CEA;
  height: 30px;
  width: 100%;
  margin: 5px auto;
  padding: 4px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
}


button[type="submit"], .logoutButton, .editButton, .deleteButton {
  background-color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
  height: 30px;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
}

.fave {
  /* background: linear-gradient(90deg, rgba(83,58,123,1) 0%, rgba(98,60,234,1) 100%); */
  background: #623CEA;
  color: white;
  height: 30px;
  font-size: 0.8em;
}

button:hover, .goTo:hover, a:hover {
  opacity: 0.7;
  cursor: pointer;
}